@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600|Avenir|Helvetica|Arial');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  @layer text-rendering-optimize-legibility;
  @layer -webkit-font-smoothing-antialiased;
  @layer -moz-osx-font-smoothing-grayscale;
  @layer -webkit-text-size-adjust-100%;
  @layer -webkit-text-size-adjust-100%;
}

a {
  font-weight: 500;
  @layer :--light-dark-color:light;
  text-decoration: inherit;
  @layer :--light-dark-color-hover:light;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}